{#
 # Sharif Judge
 # file: assignments.twig
 # author: Mohammad Javad Naderi <mjnaderi@gmail.com>
 #}
{% set selected = 'assignments' %}
{% extends 'templates/base.twig' %}
{% block icon %}fa-folder-open{% endblock %}
{% block title %}作业列表{% endblock %}
{% block head_title %}作业列表{% endblock %}



{% block title_menu %}
{% if user.level >= 2 %}
<span class="title_menu_item"><a href="{{ site_url('assignments/add') }}"><i class="fa fa-plus color8"></i> Add</a></span>
{% endif %}
{% endblock %}



{% block main_content %}
{% set msgclasses = {'success': 'shj_g', 'notice': 'shj_o', 'error': 'shj_r'} %}
{% for message in messages %}
	<p class="{{ msgclasses[message.type] }}">{{ message.text }}</p>
{% endfor %}

{% if all_assignments|length == 0 %}
	<p style="text-align: center;">Nothing to show...</p>
{% else %}
<br/>
<table class="sharif_table">
<thead>
<tr>
	<th>选择作业</th>
	<th>名字</th>
	<th>题目列表</th>
	<th>已提交程序个数</th>
	<th>计分比例</th>
	<th>开始时间</th>
	<th>截止时间</th>
	<th>状态</th>
	<th>作业描述</th>
	{% if user.level > 0 %}
	<th>Actions</th>
	{% endif %}
</tr>
</thead>
{% for item in all_assignments|reverse %}
<tr>
	<td><i class="pointer select_assignment fa {{ item.id == user.selected_assignment.id ? 'fa-check-square-o color6' : 'fa-square-o' }} fa-2x" data-id="{{ item.id }}"></i></td>
	<td dir="auto">{{ item.name }}</td>
	<td><a href="{{ site_url('problems/'~item.id) }}">{{ item.problems }} 个问题</a></td>
	<td>{{ item.total_submits }} 次提交</td>
	<td>
		{% if item.finished %}
			<span style="color: red;">Finished</span>
		{% else %}
			{{ item.coefficient }} %
		{% endif %}
	</td>
	<td>{{ item.start_time }}</td>
	<td>{{ item.finish_time }}</td>
	<td>
		{% if item.open %}
			<span style="color: green;">可提交程序</span>
		{% else %}
			<span style="color: red;">已截止</span>
		{% endif %}
	</td>
	<td>
		<a href="{{ site_url('assignments/pdf/'~item.id) }}"><img src="{{ base_url('assets/images/pdf.svg') }}" /></a>
	</td>
	{% if user.level > 0 %}
	<td>
		{% if user.level >= 2 %}
			<a href="{{ site_url('assignments/downloadtestsdesc/'~item.id) }}"><i title="Download Tests and Descriptions" class="fa fa-cloud-download fa-lg color11"></i></a>
		{% endif %}
		{% if user.level >= 1 %}
			<a href="{{ site_url("assignments/download_submissions/by_user/#{item.id}") }}"><i title="Download Final Submissions (by user)" class="fa fa-download fa-lg color12"></i></a>
			<a href="{{ site_url("assignments/download_submissions/by_problem/#{item.id}") }}"><i title="Download Final Submissions (by problem)" class="fa fa-download fa-lg color2"></i></a>
		{% endif %}
		{% if user.level >= 2 %}
			<a href="{{ site_url('moss/'~item.id) }}"><i title="Detect Similar Codes" class="fa fa-shield fa-lg color7"></i></a>
		{% endif %}
		{% if user.level >= 2 %}
			<a href="{{ site_url('assignments/edit/'~item.id) }}"><i title="Edit" class="fa fa-pencil fa-lg color3"></i></a>
		{% endif %}
		{% if user.level >= 2 %}
			<a href="{{ site_url('assignments/delete/'~item.id) }}"><i title="Delete" class="fa fa-times fa-lg color1"></i></a>
		{% endif %}
	</td>
	{% endif %}
</tr>
{% endfor %}
</table>
{% endif %}
{% endblock %}  {# main_content #}
